# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\matik\Documents\Servery MC\======PLUGINY======\Plugin na fakeinventory v2\plugins\FakeInventories\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
